[Desktop Entry]
Encoding=UTF-8
Name=wf-pc-chat
Name[zh_CN]=圈子
Comment=Wildfire Chat PC Client
Comment[zh_CN]=圈子 PC客户端
Exec=/opt/圈子/圈子 %U
GenericName=wf-pc-chat
GenericName[zh_CN]=圈子
MimeType=application/wf-pc-chat;
Icon=/opt/圈子/resources/extraResources/icons/128x128.png
Keywords=various;keywords;describing;your;application;
StartupNotify=true
Terminal=false
Type=Application
Categories=Chat;
